<div class="col-lg-4 mt-3">
    <div class="box" data-aos="zoom-in" data-aos-delay="100">
        <h4>
            <a href="{{ path('app_district', {'id': district.id}) }}">
                {{ district.name }}
            </a>
        </h4>
    </div>
</div>